server:
  port: 8089

spring:
  elasticsearch:
    username: elastic
    password: yq7UbfMeNNGkvFh2gBf_
    uris: http://localhost:9200
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/es?serverTimezone=Asia/Shanghai
  rabbitmq:
    host: localhost
    port: 5672
    username: elastic
    password: yq7UbfMeNNGkvFh2gBf_
    virtual-host: /
    listener:
      simple:
        acknowledge-mode: auto  # 自动ack
        retry:
          enabled: true
          max-attempts: 5
          max-interval: 10000   # 重试最大间隔时间
          initial-interval: 2000  # 重试初始间隔时间
          multiplier: 2 # 间隔时间乘子，间隔时间*乘子=下一次的间隔时间，最大不能超过设置的最大间隔时间
        default-requeue-rejected:

  # jackson
  jackson:
    default-property-inclusion: non_null
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  # http file
  servlet:
    multipart:
      max-request-size: 1000MB
      max-file-size: 1000MB
      resolve-lazily: true
  # default not allow
  main:
    allow-circular-references: false
  # mybatis
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    use-generated-keys: true
    jdbc-type-for-null: null
    local-cache-scope: statement
  mapper-locations: classpath:/mapper/**/*.xml