<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windcf.eslearn.mapper.HotelMapper">
  <resultMap id="BaseResultMap" type="com.windcf.eslearn.domain.Hotel">
    <!--@mbg.generated-->
    <!--@Table tb_hotel-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="star_name" jdbcType="VARCHAR" property="starName" />
    <result column="business" jdbcType="VARCHAR" property="business" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, address, price, score, brand, city, star_name, business, latitude, longitude, 
    pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_hotel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_hotel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.windcf.eslearn.domain.Hotel">
    <!--@mbg.generated-->
    insert into tb_hotel (id, `name`, address, 
      price, score, brand, 
      city, star_name, business, 
      latitude, longitude, pic
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{price,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{starName,jdbcType=VARCHAR}, #{business,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.windcf.eslearn.domain.Hotel">
    <!--@mbg.generated-->
    insert into tb_hotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="starName != null">
        star_name,
      </if>
      <if test="business != null">
        business,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="pic != null">
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="starName != null">
        #{starName,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        #{business,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.windcf.eslearn.domain.Hotel">
    <!--@mbg.generated-->
    update tb_hotel
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="starName != null">
        star_name = #{starName,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        business = #{business,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.windcf.eslearn.domain.Hotel">
    <!--@mbg.generated-->
    update tb_hotel
    set `name` = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      star_name = #{starName,jdbcType=VARCHAR},
      business = #{business,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update tb_hotel
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.name,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.address,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.score,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="brand = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.brand,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="city = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.city,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="star_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.starName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="business = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.business,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="latitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.latitude,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="longitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.longitude,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pic = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pic,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update tb_hotel
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="address = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.address != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.address,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.price != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.score != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.score,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="brand = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.brand != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.brand,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="city = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.city != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.city,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="star_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.starName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.starName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="business = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.business != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.business,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="latitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.latitude != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.latitude,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="longitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.longitude != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.longitude,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="pic = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.pic != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.pic,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into tb_hotel
    (id, `name`, address, price, score, brand, city, star_name, business, latitude, longitude, 
      pic)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR}, 
        #{item.price,jdbcType=INTEGER}, #{item.score,jdbcType=INTEGER}, #{item.brand,jdbcType=VARCHAR}, 
        #{item.city,jdbcType=VARCHAR}, #{item.starName,jdbcType=VARCHAR}, #{item.business,jdbcType=VARCHAR}, 
        #{item.latitude,jdbcType=VARCHAR}, #{item.longitude,jdbcType=VARCHAR}, #{item.pic,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.windcf.eslearn.domain.Hotel">
    <!--@mbg.generated-->
    insert into tb_hotel
    (id, `name`, address, price, score, brand, city, star_name, business, latitude, longitude, 
      pic)
    values
    (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{starName,jdbcType=VARCHAR}, #{business,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR})
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    `name` = #{name,jdbcType=VARCHAR}, 
    address = #{address,jdbcType=VARCHAR}, 
    price = #{price,jdbcType=INTEGER}, 
    score = #{score,jdbcType=INTEGER}, 
    brand = #{brand,jdbcType=VARCHAR}, 
    city = #{city,jdbcType=VARCHAR}, 
    star_name = #{starName,jdbcType=VARCHAR}, 
    business = #{business,jdbcType=VARCHAR}, 
    latitude = #{latitude,jdbcType=VARCHAR}, 
    longitude = #{longitude,jdbcType=VARCHAR}, 
    pic = #{pic,jdbcType=VARCHAR}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.windcf.eslearn.domain.Hotel">
    <!--@mbg.generated-->
    insert into tb_hotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="starName != null">
        star_name,
      </if>
      <if test="business != null">
        business,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="pic != null">
        pic,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="starName != null">
        #{starName,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        #{business,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="starName != null">
        star_name = #{starName,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        business = #{business,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>